CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y

# PSRAM — frame buffer ของ MIPI DSI ต้องใช้ SPIRAM, ESP32-P4 ใช้ HEX mode
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

# LVGL fonts สำหรับ UI ขนาดใหญ่
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_LV_FONT_MONTSERRAT_48=y
